.character-card {
  min-width: 250px;
  /* border: 1px solid #555; */
  border-radius: 2px;
  padding: 8px;
  background: linear-gradient(145deg, transparent 15%, #3464);
  font-size: 1.25rem;

  & p {
    margin: 0;
  }

  .stats {
    display: flex;
    justify-content: space-between;

    .hp-name {
      font-size: 0.75rem;
      color: #888;
    }
  }

  .hp-bar {
    width: 100%;
    height: 3px;
    background-color: #8883;
    position: relative;
    border-radius: 2px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 2px;
      width: var(--value);
      height: 3px;
      background: linear-gradient(145deg, #166a16, #5cd85c);
      transition: width 350ms ease-out;
    }
  }
}
